@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: color 0.2s duration-200, background-color 0.2s duration-200, border-color 0.2s duration-200;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #0F766E;
  border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #14B8A6;
}
